<div id="main">  
      <div id="content">
        <div class="container mt-5">

            <div class="title1">ERROR 404</div>

            <div class="title2">Disculpe pero la página que esta buscando no existe o ha sido removida</div>

            <div class="page-not-found">
                <img src="../assets/images/page-not-found.png" alt="" class="img-fluid">
                <div class="txt1"><span>OPPS!</span> Esta pagina no ha sido encontrada</div>
            </div>


        </div>
    </div>
</div>