 <div id="latest-news">
        <div class="container">

            <div class="title1">ÚLTIMAS NOTICIAS</div>
            <div class="title2">Lorem ipsum dolor sit amet concateur non troppo di saronno la prada</div>

            <div class="row">
                <div class="col-md-6">
                    <div class="latest-news-wrapper">
                        <div class="latest-news-inner">
                            <div class="latest-news clearfix">
                                <figure><img src="http://via.placeholder.com/620x325" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1"><a href="post.html">Eventos en el hotel Devaltore</a></div>
                                    <div class="txt2">Lorem ipsum dolor sit amet consetuer adipiscing elit, sed diam
                                        nonummy.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="latest-news-wrapper">
                        <div class="latest-news-inner">
                            <div class="latest-news clearfix">
                                <figure><img src="http://via.placeholder.com/620x325" alt="" class="img-fluid"></figure>
                                <div class="caption">
                                    <div class="txt1"><a href="post-left.html">Nuevos servicios del hotel Devaltore</a></div>
                                    <div class="txt2">Lorem ipsum dolor sit amet consetuer adipiscing elit, sed diam
                                        nonummy.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>