.hover-general
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paragraph-service
{
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.bg-loading
{
    background-color: #F0F2F4;
    height: 70px;
}

.div-calendar {
    color: #FF0084;
  }