<div id="what-client-say">
        <div class="container">

            <div class="title1">¿{{ 'CLIENTSAY.CLIENT_SAY' | translate }}?</div>

            <div class="title2">Conoce las opiniones de nuestros clientes</div>

            <div class="owl-carousel owl-carousel-testimonials">
                <div class="item">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-inner">
                            <div class="testimonial clearfix">
                                <div class="testimonial-caption">
                                    "COTELCO es el mejor servicio"
                                </div>
                                <div class="author clearfix">
                                    <figure><img src="assets/images/user-image.png" alt="" class="img-fluid" width="80" height="80">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1">Alejandro Pico</div>
                                        <div class="txt2">Economista</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-inner">
                            <div class="testimonial clearfix">
                                <div class="testimonial-caption">
                                    "Estuve 5 noches y fueron muy placenteras"
                                </div>
                                <div class="author clearfix">
                                    <figure><img src="assets/images/user-image.png" alt="" class="img-fluid" width="80" height="80">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1">Jonathan Peña</div>
                                        <div class="txt2">Desarrollador Web</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-inner">
                            <div class="testimonial clearfix">
                                <div class="testimonial-caption">
                                    "Sin quejas el mejor servicio"
                                </div>
                                <div class="author clearfix">
                                    <figure><img src="assets/images/user-image.png" alt="" class="img-fluid" width="80" height="80">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1">Alejandro cotelco</div>
                                        <div class="txt2">Administrativo</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-inner">
                            <div class="testimonial clearfix">
                                <div class="testimonial-caption">
                                    "Mejores hoteles de Colombia"
                                </div>
                                <div class="author clearfix">
                                    <figure><img src="http://via.placeholder.com/80x80" alt="" class="img-fluid">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1">Victor Robles</div>
                                        <div class="txt2">Desarrollador Web</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-inner">
                            <div class="testimonial clearfix">
                                <div class="testimonial-caption">
                                    "Fueron las mejores 5 noches de mi vida"
                                </div>
                                <div class="author clearfix">
                                    <figure><img src="http://via.placeholder.com/80x80" alt="" class="img-fluid">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1">Dario Perez</div>
                                        <div class="txt2">Desarrollador Web</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="testimonial-wrapper">
                        <div class="testimonial-inner">
                            <div class="testimonial clearfix">
                                <div class="testimonial-caption">
                                    "Recomiendo a COTELCO en todo"
                                </div>
                                <div class="author clearfix">
                                    <figure><img src="http://via.placeholder.com/80x80" alt="" class="img-fluid">
                                    </figure>
                                    <div class="caption">
                                        <div class="txt1">PMS</div>
                                        <div class="txt2">Hotel Royal</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>